{% extends 'base.html' %}

{% block Kado %}
    {% include 'components/kado-online.html' %}
{% endblock Kado %}

{% block Music %}
    {% include "components/music.html" %}
{% endblock Music %}
							

{% block Header %}
    {% include 'components/header.html' %}
{% endblock Header %}

{% block KataPengantar %}
    {% include 'components/kata-pengantar.html' %}
{% endblock KataPengantar %}

{% block Mempelai %}
{% include 'components/mempelai.html' %}
					
{% endblock Mempelai %}

{% block Agenda %}
    {% include 'components/agenda.html' %}
{% endblock Agenda %}

{% block MessagesGuests %}
{% include 'components/message-guests.html' %}
{% endblock MessagesGuests %}

{% block PortokolKesehatan %}
		{% include 'components/protokol-kesehatan.html' %}
{% endblock PortokolKesehatan %}
{% block TurutMengundang %}
	{% include 'components/turut-mengundang.html' %}
{% endblock TurutMengundang %}