<div class=" fixed flex flex-col  top-24 md:top-32 right-5  md:right-10 space-y-2 z-50 ">
    <div class="flex justify-end items-center">
        <span id="labelKado" class="bg-red-200 p-2 text-sm pr-4 rounded-r-full rounded-l-md mr-2">
            Kirim Kado via Online
        </span>
        <button id="btnGift" class="flex flex-col  items-end">
            <img class="w-10 md:w-14" src="https://img.icons8.com/external-flatarticons-blue-flatarticons/65/null/external-gift-valentines-day-flatarticons-blue-flatarticons.png"/>
        </button>
    </div>
    <div id="detailGift" class="bg-white px-4 py-2 rounded-lg font-sans space-y-5 w-52 shadow-md ">
        <div class="flex flex-col items-center  text-sm ">
            <span class="flex items-center justify-center bg-slate-300 p-2 w-full rounded-full mt-2 mb-5">
                Kado Online
            </span>
            <span class="bg-sky-500 shadow-md z-20 text-white p-2 w-full flex items-center justify-center rounded-full">
                Bank Mandiri
            </span>
            <div class="flex flex-col items-center space-y-2 bg-sky-500 px-4 pt-7 pb-5 rounded-b-xl text-white -translate-y-4 z-10">
                <span>
                    A. Rahmat
                </span>
                <span>
                    1480018641699
                </span>

            </div>
        </div>
        <div class="flex flex-col items-center  text-sm ">
            <span class="bg-sky-500 shadow-md z-20 text-white p-2 w-full flex items-center justify-center rounded-full">
                Bank BRI
            </span>
            <div class="flex flex-col items-center space-y-2 bg-sky-500 px-4 pt-7 pb-5 rounded-b-xl text-white -translate-y-4 z-10">
                <span>
                    A. Rahmat
                </span>
                <span>
                    343901037009532
                </span>

            </div>
        </div>
      
    </div>


