{% load static %}

<div class=" flex justify-center w-full  p-5   py-20 bg-[#dbe9f2]">
    <div style="background-image: url('static/img/bg01.png');"  
    class="flex flex-col justify-center items-center rounded-lg p-5 pb-10 w-full md:w-auto  space-y-10  shadow-lg font-sans" >
    <span class="text-2xl md:text-4xl font-['Amatic_SC']">
        Turut Kami yang mengundang
    </span>
  

    <div class=" flex space-x-20">
        <div class="flex flex-col items-center">
            <span class="border border-b-black px-2">
                Gunawan
            </span>
            <span>
                Waode Tila
            </span>
        </div>
        <div class="flex flex-col items-center">
            <span class="border border-b-black px-2">
                La Ode Namu
            </span>
            <span>
                Wa Ode Tanga
            </span>
        </div>
    </div>
    <span class="text-sm">
        Turut mengundang
    </span>
    <div class="text-sm grid gap-4 p-5 grid-cols-1 md:grid-cols-4 w-full content-evenly md:justify-items-center items-center justify-center  ">
        <ul class="">
            <li>
                La Ode Piliha, S.Pd.
            </li>
            <li>
                La Linta
            </li>
            <li>
                La Ode Abdul Muksin, S.Pd.I., Ma
            </li>
            <li>
                La Ode Sagala, S.Pd., M.Si
            </li>
            <li>
                La Mentanga, S.Pd
            </li>
            <li>
                La Kaene, S.Ag., M.Si
            </li>
            <li>
                La Ode Sanda, S.TP
            </li>
        </ul>
        <ul class="">
            <li>
                Peltu (Purn) La Ode Mantiri 
            </li>
            <li>
                La Ode Santiaji Muru, S.Pd
            </li>
            <li>
                La Ode Tolando, S.Hut
            </li>
            <li>
                La Dilo, S.Ag
            </li>
            <li>
                La Ode Herman Pamuka
            </li>
            <li>
                La Kabala
            </li>
            <li>
                L. M. Arjuna Matadjo Djimen
            </li>
            <li>
                Musappar, S.Kep., Ns
            </li>
        </ul>
        <ul>
            <li>
                La Ode Salahudin
            </li>
            <li>La Ode Posaingga ( Yaro Antara)</li>
            <li>Hj. Wa Ode Zainab Hibi</li>
            <li>La Ode Sugira</li>
            <li>La Ode Paliki, ST</li>
            <li>Abdul Wahid, B.Sc</li>
            <li>La Ute, S.Pd</li>
            <li>Musliadi, S.Pd</li>
        </ul>
        <ul>
            <li>La Ode Pomusu</li>
            <li>La Ode Paane</li>
            <li>La Ode Alimin, S.Pd</li>
            <li>Serka La Ode Ndoloma</li>
            <li>Kaptu Aslianti</li>
            <li>Hidayat, S.Pd</li>
            <li>Jamanindo, S.Pd</li>
        </ul>
    </div>


    </div>
</div> 