{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Undangan Pernikahan</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
	<!-- font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap" rel="stylesheet">
	<!--  -->

	<!-- material icons -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<!--  -->

	<!-- aos -->
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<!--  -->
</head>

<body class="flex z-50  leading-normal tracking-normal w-full h-screen  font-['Poppins'] scroll-smooth">
	<div class="w-full h-screen pb-10">
		<!-- <div id="bgImage" style="background-image: url('static/img/bg01.png');"
			class="md:items-center w-full bg-cover bg-repeat-x "> -->
		<div id="bgImage" style="background-image: url('static/img/bg01.png');"
			class="flex h-screen flex-col justify-center md:items-center w-full bg-cover bg-repeat-x ">

			{% block Header %}

			{% endblock Header %}

			<div id="isiUndangan" class="w-full hidden">
				{% block KataPengantar %}

				{% endblock KataPengantar %}



			</div>
			<div id="isiUndangan2" class=" w-full hidden">




				{% block Mempelai %}

				{% endblock Mempelai %}


				{% block Agenda %}

				{% endblock Agenda %}

				{% block TurutMengundang %}

				{% endblock TurutMengundang %}

				{% block MessagesGuests %}

				{% endblock MessagesGuests %}


				{% block PortokolKesehatan %}

				{% endblock PortokolKesehatan %}

				{% block Kado %}

				{% endblock Kado %}


				{% block Music %}

				{% endblock Music %}







			</div>





		</div>

	</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
</script>
<script>

	const bgImage = document.getElementById("bgImage");
	const isiUndangan = document.getElementById('isiUndangan');
	const isiUndangan2 = document.getElementById('isiUndangan2');
	const scrollButton = document.getElementById('scroll-button');
	const scrollTarget = document.querySelector(scrollButton.getAttribute('data-scroll-target'))
	scrollButton.addEventListener('click', () => {
		isiUndangan.classList.remove('hidden');
		isiUndangan2.classList.remove('hidden');
		bgImage.classList.remove('h-screen')
		scrollTarget.scrollIntoView({
			behavior: 'smooth'
			
		});
		setTimeout(function () {
			$('#labelKado, #detailGift').fadeOut('slow');
		}, 2000)
		AOS.init();

	})

	// submint form
	$(document).ready(function () {
		$('.btn').click(function () {

			let fomrdata = $('#messageForm').serialize()
			$.ajax({
				url: '',
				type: 'POST',
				data: fomrdata,
				success: function (response) {
					$('#response').text('Thank you for contacting us!');
				},
				error: function (response) {
					var errors = JSON.parse(response.responseText).errors;
					for (var field in errors) {
						$('#' + field + '-error').text(errors[field][0]);
					}
				}

			})

		})
	})




</script>

<script>
	const detailGift = document.getElementById('detailGift');
	const btnGift = document.getElementById('btnGift');

	btnGift.addEventListener('click', () => {
		if (detailGift.style.display === 'none') {
			detailGift.style.display = 'block';
		} else {
			detailGift.style.display = 'none';
		}

	})
</script>

<script src="{% static 'js/howler.min.js' %}"></script>
<script>
	let status = false
	let scrolku = 0
	let sound = new Howl({
		src: ['https://coo.ceoc.cx/api/v1/download?sig=U4uZPMZQ5Wu61MpZp4QyfPCU541ARHwbNQyurgCMzA%2B1DvvTGXEq13fR%2BrkOrPcq%2Bax%2BYi7GcctRJGruS7NPnXy3kONL9s9wI4hq4IuBb561pIrArRrk0Qh7PqBj%2BxwOjvdrYt%2F7LO9jlbVKKUROBHmSoyosjlmALa0YiXvEM%2FwihyT3ZnR%2FqBYHCO5w7E0OJ1LF7JZtWg2OOX%2Fo%2BDWlDfnyNLiwcnpyPRqcPN8XRpGi4zp2kYmrpf0z4pDu7VbjmI6TwI1c3fmU8jzlczu%2BPceFH6K%2FVPecj8XHdf4Q8LsAm6o%2BQuDrwA72R2SFVmcNVNtaj%2FI3NRfmnOyOMw8chA%3D%3D&v=Trjrj_fQnIM&_=0.9959496963547536'],
		autoplay: true,
		html5: true,
		onplayerror: function () {
			sound.once('unlock', function () {
				sound.play();
			});
		}

	});
	let playAudio = () => {

		if (status == false) {
			sound.pause();
			status = true
		} else {

			sound.play();
			// Howler.volume(0.2);
			status = false
		}
	}


	sound.play();
	// Howler.volume(0.2);

</script>
<script>


</script>

</html>