{% load static %}

<div class=" flex justify-center w-full  p-5  mt-10 py-20 bg-[#dbe9f2]">
    <div  data-aos="fade-up" data-aos-duration="3000" style="background-image: url('static/img/bg01.png');"  
    class="flex flex-col md:flex-row justify-center items-center rounded-lg p-5 pb-10 w-full md:max-w-4xl md:space-x-10  shadow-lg overflow-hidden" >
        <div class="flex flex-col justify-center items-center">
            <div class="flex flex-col items-center">
                <span class="text-4xl font-['Amatic_SC'] p-5 pb-10">Mempelai</span>
                <span class="text-center text-md max-w-md">
                    Dengan memohon rahmat serta ridho dari Allah SWT
                    Kami bermaksud menyelenggarakan pernikahan kami:
                </span>
                <span>
                </span>

            </div>

            <div class="flex flex-col space-y-10 md:space-y-0 md:flex-row md:space-x-20 justify-center items-center  pt-10">
                <div class="flex flex-col items-center space-y-5">
                    <img data-aos="fade-right"
                    data-aos-duration="2000"
                    data-aos-offset="300"
                     src="{% static 'img/cilina.png' %}" alt="" loading="lazy" class="shadow-md p-3 ">
                    <div data-aos="fade-up"
                    data-aos-duration="2000"
                     class="flex flex-col items-center ">
                        <span class="font-['Comfortaa']">
                            Cilina
                        </span>
                        <span class="text-lg">
                            Lisnamram, S.Pd
                        </span>
                        <div class="flex flex-col items-center text-sm pt-2">
                            <span>
                                Putri dari :
                            </span>
                            <span>
                                Bapak La Ode Namu
                            </span>
                            <span>
                                &
                            </span>
                            <span>
                                Ibu Wa Ode Tanga
                            </span>
                        </div>
                        <a href="https://www.facebook.com/cilina.odhe" target="_blank" class="pt-2">
                            <img class="w-7" src="https://img.icons8.com/dusk/64/null/facebook-new--v2.png"/>
                        </a>

                    </div>
                    
                </div>
                <div class="flex flex-col items-center space-y-5">
                    <img data-aos="fade-left"
                    data-aos-duration="2000"
                    data-aos-offset="300"

                    src="{% static 'img/mamat01.png' %}" alt="" loading="lazy" class="shadow-md p-3">
                    <div data-aos="fade-up"
                    data-aos-duration="2000"
                    class="flex flex-col items-center ">
                        <span class="font-['Comfortaa']">
                            Mamat
                        </span>
                        <span class="text-lg">
                            A. Rahmat, S.T
                        </span>
                        <div class="flex flex-col items-center text-sm pt-2">
                            <span>
                                Putra dari :
                            </span>
                            <span>
                                Bapak Gunawan
                            </span>
                            <span>
                                &
                            </span>
                            <span>
                                Ibu Waode Tila
                            </span>
                        </div>
                        <a href="https://www.facebook.com/rachmat.tkn" target="_blank" class="pt-2">
                            <img class="w-7" src="https://img.icons8.com/dusk/64/null/facebook-new--v2.png"/>
                        </a>

                    </div>
                    
                </div>
               
               
            </div>
        </div>

        
    </div>
</div> 